body {
    font-family: 'Open Sans', Arial, sans-serif;
    padding: 0% 30% 0% 30%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

button {
    background-color: #0084ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

.selectContent {
    padding: 10px 10px 10px 0px; 
    cursor: pointer;
}

.dname {
    padding: 0px 10px 0px 0px;
}

.occupation, .designation {
    padding: 0px 10px 0px 30px;
}

.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

.cancelbtn, .signupbtn {
    float: left;
    width: 20%;
}

.container {
    padding: 16px;
}